.button{
  display:flex;
  align-items:center;
  gap:.5rem;
  padding:1rem 1.5rem;
  border-radius:.9rem;
  border:none;
  cursor:pointer;
  font-size:.9rem;
  transition:background-color .3s ease,color .3s ease;
}

.button.primary{
  background-color:var(--primary-color);
  color:#fff;
}

.button.secondary{
  background-color:var(--secondary-color);
  color:#fff;
}

.button.primary:hover,
.button.secondary:hover{
  background-color:var(--tertiary-color);
  color:var(--primary-color);
}

.button.outline{
  background:#fff;
  color:var(--primary-color);
  border:2px solid var(--primary-color);
}

.button.outline:hover{
  background-color:var(--primary-color);
  color:#fff;
}

.button:disabled,
.button:disabled:hover{
  background-color:#ccc;
  color:var(--tertiary-color);
  pointer-events:none;
  border:none;
}

@media (min-width:768px){
  .button{
    padding:var(--25-spacing) var(--50-spacing);
  }
}