.contact-form{
    margin: 8rem auto;
    max-width: 40rem;
    text-align: center;
    width: 100%;
}

.contact-form h2{
    font-size: 2.5rem;
}

.contact-form form {
    margin: 2rem 0 0 0;
    width: 100%;
}

.contact-form .form-group {
    column-gap: 40px;
    margin: 2rem 0 0 0;   
}