header{
  padding:var(--25-spacing) 0;
}

nav{
  background-color:var(--secondary-color);
  border-left:.5rem solid var(--primary-color);
  display:none;
  flex-direction:column;
  height:100%;
  width:50vw;
  position:fixed;
  right:0;
  top:0;
  z-index:1;
  box-shadow:-50vw 0 0 rgba(0,0,0,.5);
}

nav.open{
  display:flex;
  align-items:flex-end;
}

nav ul{
  display:flex;
  flex-direction:column;
  width:100%;
}

nav ul li{
  display:flex;
}

nav a{
  color:#fff;
  border-bottom:1px solid #fff;
  padding:.6rem;
  width:100%;
}

.mobile-menu{
  display:block;
}

.close-btn{
  background:none;
  border:none;
  color:var(--primary-color);
  font-size:1.5rem;
  padding:1.2rem;
  width:fit-content;
  cursor:pointer;
}

@media (min-width:768px){
  header{
    padding:var(--50-spacing) 0;
  }

  nav{
    display:flex;
    position:static;
    flex-direction:row;
    background:none;
    border:none;
    width:auto;
    height:auto;
    box-shadow:none;
  }

  nav ul{
    flex-direction:row;
  }

  nav a{
    color:var(--title-color);
    border:none;
    margin-left:var(--50-spacing);
    width:auto;
  }

  .mobile-menu{
    display:none;
  }
}