.footer-main{
  gap:3rem;
}

.footer-logo-col{
  width:100%;
  text-align:justify;
}

.footer-logo{
  margin-bottom:var(--25-spacing);
}

.footer-links{
  gap:3rem;
}

.footer-col{
  width:100%;
}

.footer-col ul{
  padding:0;
}

.footer-col li,
footer h3{
  margin-bottom:var(--25-spacing);
}

footer h3{
  font-size:1.25rem;
}

footer a,
footer p{
  font-size:1.1rem;
  line-height:150%;
  margin-bottom:var(--25-spacing);
}

.social-links{
  gap:2rem;
  margin-top:var(--25-spacing);
}

.footer-copy{
  margin:4rem 0 var(--50-spacing);
  gap:1.5rem;
}

.langs-area{
  gap:1.1rem;
}

.langs-area img{
  height:1.45rem;
}

@media (min-width:768px){
  .footer-main{
    flex-direction:row;
    justify-content:space-between;
  }

  .footer-logo-col{
    max-width:17rem;
  }

  .footer-links{
    flex-direction:row;
  }

  .footer-col{
    max-width:13rem;
    margin-left:7rem;
  }

  .footer-copy{
    flex-direction:row;
    justify-content:space-between;
    margin:7.5rem 0 var(--50-spacing);
  }
}