.banner{
  background-color:var(--tertiary-color);
  background-position:center;
  background-size:cover;
  height:12rem;
  width:100%;
}

.title-panel{
  background:#fff;
  border-radius:1.8rem 1.8rem 0 0;
  height:5.7rem;
  max-width:25rem;
  margin:0 auto;
}

.title-panel h1{
  font-size:2rem;
}

@media (min-width:768px){
  .banner{
    height:17.5rem;
  }

  .title-panel h1{
    font-size:2.5rem;
  }
}
